footer.footer {
    padding: 5rem 0;
    width: 100%;
    background-color: #2d2e32;
    overflow: hidden;
}

.footer .container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.footer-content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h3 {
    font-size: 1.7rem;
}

.footer-content .footer-social-icons {
    display: flex;
    gap: 2rem;
}

.footer-content .footer-social-icons i {
    color: #fff;
    font-size: 2.8rem;
}

.footer-social-icons a:hover {
    transform:scale(1.2);
    transition: all 0.2s ease-in-out;
}